.app-component {
  background-color: aliceblue;
}

input {
  padding: 0.5rem;
}

button {
  padding: 0.5rem;
}

.form-element-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
